body{
    background-color: snow;
}

#clock_container{
    font-family: 'Press Start 2P', monospace;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: aquamarine;
    width: 100%;
    background-color: black;
}